@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: linear-gradient(-45deg, #639aec 0%, #efddfb 100%);
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    font-size: 32px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #ececec;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
}

.wrapper .sidebar ul li a {
    color: #000000;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 20px;
}

.wrapper .sidebar ul li:hover,
.wrapper .sidebar ul li:active {
    background: #0014ff;
}

.wrapper .sidebar ul li:hover a,
a:active {
    color: #fff;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    font-size: 18px;
    padding: 20px;
    background: linear-gradient(-45deg, #e69cf0 0%, #e39dff 100%);
    color: solid #000000;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

@media (max-height: 500px) {
    .social_media {
        display: none !important;
    }
}


.frame {
    width: 70%;
    height: 100%;
    margin: 50;
    text-align: center;
    z-index: 1;
}

h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #a759f5;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: #d6adff;
    margin: 0;
}

.info {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
    justify-content: center;
}


/*Card*/
.main {
    max-width: 1200px;
    margin: 0 auto;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}
.cards_item {
    display: flex;
    padding: 0.5rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 40%;
    }
}
@media (min-width: 56rem) {
    .cards_item {
        width: 31.3333%;
    }
}
.card {
    background-color: white;
    border-radius: 0.50rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 0.5rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
    color: #00ff08;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}
.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
@media(max-width : 860px) {
    .frame {
        width: 100%;
        height: 100%;
        margin: 80;
        text-align: center;
        z-index: 1;
    }
}